body {
    color: black;
    font-family: arial, sans-serif;
    background-color: #800020;
}

.navbar {
    background-color: #C0C0C0;
    color: black;
    margin-bottom: 0px;
    border: 2px solid;
}

.jumbotron {
    background-color: #800020;
    color: #C0C0C0;
    margin-bottom: 0px;
}

.contact-section {
        color: #C0C0C0;
}

#test {
    color: black;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

.carousel {
    border: 2px solid;
}

